---
Checks: '
android-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-implicit-widening-of-multiplication-result,
clang-diagnostic-*,
clang-analyzer-*,
cppcoreguidelines-*,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-non-private-member-variables-in-classes,
-cppcoreguidelines-use-enum-class,
-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-avoid-goto,
-cppcoreguidelines-macro-to-enum,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-avoid-do-while,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-avoid-do-while,
google-*,
-google-readability-todo,
misc-*,
-misc-const-correctness,
-misc-include-cleaner,
-misc-non-private-member-variables-in-classes,
-misc-use-anonymous-namespace,
modernize-*,
-modernize-use-nodiscard,
-modernize-use-nullptr,
-modernize-use-trailing-return-type,
-modernize-avoid-c-arrays,
-modernize-use-emplace,
-modernize-macro-to-enum,
-modernize-use-equals-default,
-modernize-pass-by-value,
-modernize-use-designated-initializers,
performance-*,
-performance-no-int-to-ptr,
portability-*,
-portability-avoid-pragma-once,
readability-*,
-readability-use-concise-preprocessor-directives,
-readability-uppercase-literal-suffix,
-readability-function-cognitive-complexity,
-readability-enum-initial-value,
-readability-container-contains,
-readability-magic-numbers,
-readability-use-std-min-max,
-readability-avoid-unconditional-preprocessor-if,
-readability-else-after-return,
-readability-redundant-member-init,
-readability-identifier-length,
'
ExcludeHeaderFilterRegex: '.*(glm|SDL3|imgui|json|box2d|eigen).*'
